In [7]:
import json
import numpy as np
import pandas as pd
import time
import multiprocessing as mp
from datetime import datetime

In [3]:
test = pd.read_csv('../data/testset.csv')

In [5]:
test.head()

,Unnamed: 0,dailyid,year,month,day,dayofweek,hour,minute,latitude,longitude,...,course,estimated_course_flag,prefcode,citycode,mesh100mid,home_prefcode,home_citycode,workplace_prefcode,workplace_citycode,transportation_type
0,0,0c2a3898ec90df81bcc44645a951c20cf329ff04f8cae3...,2019,7,21,7,10,0,35.683613,139.690004,...,248.639,1.0,13,13113.0,5339452502,13.0,13103.0,13.0,13102.0,7.0
1,1,c99ceb1da5a754544bba6cd939ec9d29d297d99e179b2e...,2019,7,21,7,10,0,35.685394,139.328220,...,142.781,2.0,13,13201.0,5339422622,13.0,13201.0,13.0,13201.0,2.0
2,2,ab561147f20de98c19a20b82cacc9c78aac6f239b71eb2...,2019,7,21,7,10,0,35.659354,139.693941,...,44.648,1.0,13,13113.0,5339359515,13.0,13115.0,13.0,13115.0,2.0
3,3,d57dff0d21b12cdb58a942877afbdcbf67e12c9f0ead81...,2019,7,21,7,10,0,35.717740,139.736655,...,346.640,1.0,13,13105.0,5339456819,14.0,14205.0,13.0,13123.0,NaN
4,4,07d9f2d9291d05bf8b7c3dd5028f8a030d28567d1a59bc...,2019,7,21,7,10,0,35.632304,139.601286,...,106.875,1.0,13,13112.0,5339345881,13.0,13219.0,13.0,13112.0,1.0

In [6]:
# transportation type 7 = train
test[test.transportation_type == 7]

,Unnamed: 0,dailyid,year,month,day,dayofweek,hour,minute,latitude,longitude,...,course,estimated_course_flag,prefcode,citycode,mesh100mid,home_prefcode,home_citycode,workplace_prefcode,workplace_citycode,transportation_type
0,0,0c2a3898ec90df81bcc44645a951c20cf329ff04f8cae3...,2019,7,21,7,10,0,35.683613,139.690004,...,248.639,1.0,13,13113.0,5339452502,13.0,13103.0,13.0,13102.0,7.0
6,6,0efdcca6a47936526541784996a60f61a9d6dbb488ed3b...,2019,7,21,7,10,0,35.656409,139.737068,...,156.796,1.0,13,13103.0,5339358879,13.0,13120.0,13.0,13102.0,7.0
9,9,37d7c472968c6800da805bc64cc14f4fdf24273c2d8989...,2019,7,21,7,10,0,35.514666,139.539438,...,6.328,1.0,14,14113.0,5339241371,13.0,13101.0,13.0,13103.0,7.0
10,10,37d7c472968c6800da805bc64cc14f4fdf24273c2d8989...,2019,7,21,7,10,0,35.514699,139.539375,...,4.921,1.0,14,14113.0,5339241371,13.0,13101.0,13.0,13103.0,7.0
11,11,56584f45234a608db8bfb0d3423ae4d4f7bef87f521956...,2019,7,21,7,10,0,35.195987,139.661918,...,42.890,1.0,14,14210.0,5239653259,27.0,27222.0,27.0,27217.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113402,113402,0b61a6ec2f48455f0880038f6f3fd7983a4294ea0bf478...,2019,7,21,7,10,59,35.671620,139.759951,...,NaN,NaN,13,13101.0,5339460057,13.0,13108.0,13.0,13108.0,7.0
113406,113406,21896996cb0de98d9d3cc6b3c834540b56a2e069d0aeb9...,2019,7,21,7,10,59,35.649352,139.807227,...,NaN,NaN,13,13108.0,5339367495,11.0,11201.0,13.0,13113.0,7.0
113408,113408,84b58c05367e5f948e25a8ee6c0accaa6efe67aa58cc56...,2019,7,21,7,10,59,35.637559,139.714664,...,337.616,2.0,13,13109.0,5339356751,13.0,13109.0,13.0,13109.0,7.0
113409,113409,f9b95247b850839c1e1e293758174b59e8048c3dc9a63b...,2019,7,21,7,10,59,36.255195,139.145344,...,294.218,2.0,11,11385.0,5439310166,10.0,10202.0,10.0,10202.0,7.0
113414,113414,39d43a4c121951088dced38b7fca6a6d1c27579d4d20f7...,2019,7,21,7,10,59,35.786816,139.473286,...,201.801,2.0,11,11208.0,5339534748,11.0,11215.0,13.0,13113.0,7.0

In [14]:
test.columns

Index(['Unnamed: 0', 'dailyid', 'year', 'month', 'day', 'dayofweek', 'hour',
       'minute', 'latitude', 'longitude', 'os', 'home_countryname', 'plmn',
       'plmn_countryname', 'setting_currency', 'setting_language',
       'setting_country', 'logtype_category', 'logtype_subcategory',
       'accuracy', 'speed', 'estimated_speed_flag', 'course',
       'estimated_course_flag', 'prefcode', 'citycode', 'mesh100mid',
       'home_prefcode', 'home_citycode', 'workplace_prefcode',
       'workplace_citycode', 'transportation_type'],
      dtype='object')

In [15]:
target_cols = ['dailyid', 'year', 'month', 'day', 'dayofweek', 'hour', 'minute', 'latitude', 'longitude', 'transportation_type']

In [11]:
API_LINKS = { "summary": 
{
    "desc": "Summary of the Floating population data",
    "url": "https://api-tokyochallenge.odpt.org/api/v4/files/Agoop/data/Summary.csv?acl:consumerKey={}"
  },
  "citymaster": {
    "desc": "Contains the city codes",
    "url": "https://api-tokyochallenge.odpt.org/api/v4/files/Agoop/data/prefcode_citycode_master_UTF-8.csv?acl:consumerKey={}"
  },
  "floatpoint": {
    "desc": "CSV files of floating population the data every hour of every day",
    "url": "https://api-tokyochallenge.odpt.org/api/v4/files/Agoop/data/PDP_{}.csv?acl:consumerKey={}"
  }
}

CONSUMER_KEY = 'hnuzMJ1QGE3TcjlYiXohfA6vkGb55OT9xKtTCcd31L4'

In [16]:
test.loc[:,target_cols]

,dailyid,year,month,day,dayofweek,hour,minute,latitude,longitude,transportation_type
0,0c2a3898ec90df81bcc44645a951c20cf329ff04f8cae3...,2019,7,21,7,10,0,35.683613,139.690004,7.0
1,c99ceb1da5a754544bba6cd939ec9d29d297d99e179b2e...,2019,7,21,7,10,0,35.685394,139.328220,2.0
2,ab561147f20de98c19a20b82cacc9c78aac6f239b71eb2...,2019,7,21,7,10,0,35.659354,139.693941,2.0
3,d57dff0d21b12cdb58a942877afbdcbf67e12c9f0ead81...,2019,7,21,7,10,0,35.717740,139.736655,NaN
4,07d9f2d9291d05bf8b7c3dd5028f8a030d28567d1a59bc...,2019,7,21,7,10,0,35.632304,139.601286,1.0
...,...,...,...,...,...,...,...,...,...,...
113414,39d43a4c121951088dced38b7fca6a6d1c27579d4d20f7...,2019,7,21,7,10,59,35.786816,139.473286,7.0
113415,3865dd0c6d7fabae341105fa04f157ac5a957f5a0f1b31...,2019,7,21,7,10,59,35.416906,139.361992,8.0
113416,54d3949a99b79469e9e71ea778fbde05bebc2d7cb72746...,2019,7,21,7,10,59,35.739267,139.675496,5.0
113417,d3e85dbb3d05c36334281197746a54fd0a2cd36cb3aed8...,2019,7,21,7,10,59,35.541228,139.692345,2.0
113418,e5c326e9ef00c52503908b05378e7790f8b4f7e1a2a765...,2019,7,21,7,10,59,35.670860,139.609163,1.0

In [37]:
consumerKey = 'hnuzMJ1QGE3TcjlYiXohfA6vkGb55OT9xKtTCcd31L4'

citymaster_url = "https://api-tokyochallenge.odpt.org/api/v4/files/Agoop/data/prefcode_citycode_master_UTF-8.csv?acl:consumerKey={}"
df_citycode = pd.read_csv(citymaster_url.format(consumerKey))

tokyo = dict(df_citycode[df_citycode.prefname=='東京都'].loc[:,['cityname', 'citycode']])

In [30]:
tokyo["citycode"]

655    13101
656    13102
657    13103
658    13104
659    13105
       ...
712    13381
713    13382
714    13401
715    13402
716    13421
Name: citycode, Length: 62, dtype: int64

In [40]:
test.reset_index()

,index,Unnamed: 0,dailyid,year,month,day,dayofweek,hour,minute,latitude,...,course,estimated_course_flag,prefcode,citycode,mesh100mid,home_prefcode,home_citycode,workplace_prefcode,workplace_citycode,transportation_type
0,0,0,0c2a3898ec90df81bcc44645a951c20cf329ff04f8cae3...,2019,7,21,7,10,0,35.683613,...,248.639,1.0,13,13113.0,5339452502,13.0,13103.0,13.0,13102.0,7.0
1,1,1,c99ceb1da5a754544bba6cd939ec9d29d297d99e179b2e...,2019,7,21,7,10,0,35.685394,...,142.781,2.0,13,13201.0,5339422622,13.0,13201.0,13.0,13201.0,2.0
2,2,2,ab561147f20de98c19a20b82cacc9c78aac6f239b71eb2...,2019,7,21,7,10,0,35.659354,...,44.648,1.0,13,13113.0,5339359515,13.0,13115.0,13.0,13115.0,2.0
3,3,3,d57dff0d21b12cdb58a942877afbdcbf67e12c9f0ead81...,2019,7,21,7,10,0,35.717740,...,346.640,1.0,13,13105.0,5339456819,14.0,14205.0,13.0,13123.0,NaN
4,4,4,07d9f2d9291d05bf8b7c3dd5028f8a030d28567d1a59bc...,2019,7,21,7,10,0,35.632304,...,106.875,1.0,13,13112.0,5339345881,13.0,13219.0,13.0,13112.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113414,113414,113414,39d43a4c121951088dced38b7fca6a6d1c27579d4d20f7...,2019,7,21,7,10,59,35.786816,...,201.801,2.0,11,11208.0,5339534748,11.0,11215.0,13.0,13113.0,7.0
113415,113415,113415,3865dd0c6d7fabae341105fa04f157ac5a957f5a0f1b31...,2019,7,21,7,10,59,35.416906,...,158.582,1.0,14,14212.0,5339120809,14.0,14203.0,14.0,14207.0,8.0
113416,113416,113416,54d3949a99b79469e9e71ea778fbde05bebc2d7cb72746...,2019,7,21,7,10,59,35.739267,...,NaN,NaN,13,13120.0,5339458470,14.0,14104.0,13.0,13120.0,5.0
113417,113417,113417,d3e85dbb3d05c36334281197746a54fd0a2cd36cb3aed8...,2019,7,21,7,10,59,35.541228,...,0.000,1.0,14,14132.0,5339254593,14.0,14132.0,14.0,14132.0,2.0
113418,113418,113418,e5c326e9ef00c52503908b05378e7790f8b4f7e1a2a765...,2019,7,21,7,10,59,35.670860,...,0.000,1.0,13,13115.0,5339440857,13.0,13115.0,13.0,13112.0,1.0

In [45]:
tokyo_only = test[test.citycode.isin(tokyo["citycode"])]

In [46]:
tokyo_only = test[test.transportation_type == 7]

In [48]:
tokyo_only.loc[:,target_cols]

,dailyid,year,month,day,dayofweek,hour,minute,latitude,longitude,transportation_type
0,0c2a3898ec90df81bcc44645a951c20cf329ff04f8cae3...,2019,7,21,7,10,0,35.683613,139.690004,7.0
6,0efdcca6a47936526541784996a60f61a9d6dbb488ed3b...,2019,7,21,7,10,0,35.656409,139.737068,7.0
9,37d7c472968c6800da805bc64cc14f4fdf24273c2d8989...,2019,7,21,7,10,0,35.514666,139.539438,7.0
10,37d7c472968c6800da805bc64cc14f4fdf24273c2d8989...,2019,7,21,7,10,0,35.514699,139.539375,7.0
11,56584f45234a608db8bfb0d3423ae4d4f7bef87f521956...,2019,7,21,7,10,0,35.195987,139.661918,7.0
...,...,...,...,...,...,...,...,...,...,...
113402,0b61a6ec2f48455f0880038f6f3fd7983a4294ea0bf478...,2019,7,21,7,10,59,35.671620,139.759951,7.0
113406,21896996cb0de98d9d3cc6b3c834540b56a2e069d0aeb9...,2019,7,21,7,10,59,35.649352,139.807227,7.0
113408,84b58c05367e5f948e25a8ee6c0accaa6efe67aa58cc56...,2019,7,21,7,10,59,35.637559,139.714664,7.0
113409,f9b95247b850839c1e1e293758174b59e8048c3dc9a63b...,2019,7,21,7,10,59,36.255195,139.145344,7.0
113414,39d43a4c121951088dced38b7fca6a6d1c27579d4d20f7...,2019,7,21,7,10,59,35.786816,139.473286,7.0